node_modules

out
dist
*.tgz

# code coverage
coverage
*.lcov

package-lock.json

logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache
*.tsbuildinfo

.idea

.DS_Store
